/* body{
    font-family: Meiryo,sans-serif;
    font-weight: bold;
    color: #00ff00;
    letter-spacing: 5px;
    line-height: 2;
} */

h1 {
    font-size: 18px;
    font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
    margin-bottom: 20px;
}

h2 {
    font-size: 16px;
    margin-bottom: 15px;
}

h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

html, body, #wrapper {
    min-height: 100%;
}

@media screen and (min-width:481px) {
    #wrapper {
        padding-bottom: 0px;
    }
}

@media screen and (max-width:480px) {
    #wrapper {
        padding-top: 60px;
    }
}

ul, ol {
    margin-bottom: 10px;
}

/*======================================================
header
======================================================*/

header {
    border-bottom: 1px solid #00b099;
    background-color: #00b099;
    margin-bottom: 100px;
}

@media screen and (max-width:480px) {
    header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;
    }
}

#main_nav {
    text-align: center;
    padding: 20px;
}

#main_nav li {
    display: inline-block;
}

#main_nav li a, #main_nav li span {
    font-size: 20px;
    text-decoration: none;
    margin: 0 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

#main_nav li a:hover, #main_nav li span {
    color: #fa423a;
}

#main_nav li span {
    border-bottom: 3px solid #e0e0e0;
}

@media screen and (max-width:480px) {
    #main_nav {
        padding: 10px;
    }
    #main_nav li a, #main_nav li span {
        font-size: 15px;
        margin: 0 10px;
    }
}

/*======================================================
main
======================================================*/

main {
    padding: 30px 50px;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

@media screen and (max-width:480px) {
    main {
        padding: 30px 20px;
    }
}

.main_pic {
    text-align: center;
    margin-bottom: 30px;
}

.sub_pic {
    display: inline-block;
    padding: 10px;
    border: 1px solid #fa423a;
}

.sub_pic img {
    display: block;
}

.main_pic img {
    display: block;
    margin: 70px 0px;
    padding: 170px;
    border: 1px solid #00b099;
}

.session, .period {
    margin-bottom: 40px;
}

.session h2 {
    /* border-bottom: 1px solid #00b099; */
    border-left: 5px solid #00b099;
    padding-left: 5px;
}

.youtube {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: 20px;
}

.youtube iframe {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* body.index_page h1 {
    border: none;
    text-align: center;
    font-size: 26px;
} */
/*======================================================
menu
======================================================*/
#menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: fixed;
    top: 20vh;
    z-index: 1;
}

#menu li {
    display: inline;
    padding: 0;
    margin: 0;
}

#menu li a {
    display: block;
    border-left: 20px solid #fa423a;
    border-top: 1px solid #fa423a;
    border-right: 1px solid #fa423a;
    border-bottom: 1px solid #fa423a;
    background-color: transparent 255;
    padding: 3px 10px;
    text-decoration: none;
    color: #00b099;
    width: 180px;
    margin: 3px 0px;
    text-align: left;
    font-size: 14px;
    transition: border 0.3s;
}

#menu li a:hover {
    border-left: 8px solid #fa423a;
    border-top: 1px solid #fa423a;
    border-right: 1px solid #fa423a;
    border-bottom: 1px solid #fa423a;
    background-color: #d7efd7;
    transition: ease-out 0.1s;
}

/*======================================================
footer
======================================================*/

footer {
    background-color: #006099;
    color: #00b099;
    font-size: 80%;
    padding: 10px;
    min-height: 80px;
    border-top: 1px solid #00b099;
    position: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:481px) {
    footer {
        position: flex;
        bottom: 0;
        width: 100%;
    }
}